@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 201 47% 97%;
    --foreground: 201 52% 15%;
    --card: 0 0% 100%;
    --card-foreground: 201 52% 15%;
    --primary: 201 75% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 201 61% 91%;
    --secondary-foreground: 201 55% 24%;
    --muted: 201 57% 94%;
    --muted-foreground: 201 26% 40%;
    --accent: 201 72% 84%;
    --destructive: 8 100% 97%;
    --destructive-foreground: 6 74% 54%;
    --border: 201 47% 83%;
    --input: 201 47% 83%;
    --ring: 201 75% 45%;
    --success: 146 80% 40%;
    --priority-low: 201 73% 90%;
    --priority-low-foreground: 201 68% 33%;
    --priority-medium: 45 100% 90%;
    --priority-medium-foreground: 35 91% 31%;
    --priority-high: 10 100% 92%;
    --priority-high-foreground: 6 71% 48%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 201 31% 9%;
      --foreground: 201 42% 92%;
      --card: 201 27% 12%;
      --card-foreground: 201 42% 92%;
      --primary: 201 70% 54%;
      --primary-foreground: 201 35% 100%;
      --secondary: 201 24% 19%;
      --secondary-foreground: 201 30% 83%;
      --muted: 201 18% 16%;
      --muted-foreground: 201 17% 68%;
      --accent: 201 35% 20%;
      --destructive: 8 55% 16%;
      --destructive-foreground: 7 85% 76%;
      --border: 201 16% 24%;
      --input: 201 16% 24%;
      --ring: 201 72% 56%;
      --success: 146 70% 52%;
      --priority-low: 201 36% 22%;
      --priority-low-foreground: 201 56% 78%;
      --priority-medium: 39 39% 23%;
      --priority-medium-foreground: 45 88% 79%;
      --priority-high: 8 35% 24%;
      --priority-high-foreground: 8 86% 82%;
    }
  }
}
